__pycache__/
*.pyc
*.pyo
topology.json
topology_static.json
topology_predictive.json
python_metrics.png
latency_comparison.png
energy_comparison.png
sla_violation_comparison.png
cost_trend.png
flowmon*.xml
static.xml
predictive.xml
upf-animation.xml
*.db
*.log
